* {
    padding: 0;
    margin: 0;
    font-family: 'Muli';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

blockquote, #logo, h1, h2 {
    font-family: 'Lora';
}

header {
    background-color: #008484;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px darkgray;
}

#logo {
    font-size: x-large;
    color: white;
    transition: all .3s;
}

#logo:hover, nav ul li a:hover {
    color: #00D1D1;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 0 1em;
}

nav li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.btn {
    background-color: transparent;
    border: 2px solid #00D1D1;
    color: #00D1D1;
    padding: 15px 20px;
    border-radius: 6px;
    transition: all .3s;
}

.btn:hover {
    background-color: #00D1D1;
    color: white;
}

.btn2 {
    background-color: white;
    color: #008484;
    border: 2px solid white;
    padding: 8px 13px;
    border-radius: 6px;
    transition: all .3s;
}

.btn2:hover {
    background-color: #008484;
    color: white;
    border: 0;
    padding: 8px 13px;
    border-radius: 6px;
    border: 2px solid white;
}


#carousel {
    background-color: beige;
    min-height: 60vh;
    margin: 1em;
}

main {
    min-height: 90vh;
}

blockquote {
    background-color: #00D1D1;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 2em 15vw 4em;
}

#blockset {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   position: relative;
   top: -5em;
   margin: 0 4em;
}

#blockset div {
    min-height: 25vh;
    padding: 15px;
    background-color: white;
    margin: 1em;
    box-shadow: 0px 2px 5px darkgray;
    border-radius: 10px;
    text-align: center; 
    transition: all .3s;
}

#blockset div:hover {
    transform: scale(1.03);
}

#blockset a:hover {
    color: #00D1D1;
}

#blockset div h2, #blockset div p {
    padding-bottom: 15px;
}

.blue {
    color: #008484;
}

#jumbo {
    background-image: url('https://farm6.staticflickr.com/5671/30540233590_bf83b7bef5_b.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volunteer {
    height: 50vh;
    padding: 0 10vw;
}





/*Non-Home Page Styling*/
main a {
    text-decoration: none;
    display: inline-block;
}

.pad {
    padding: 3em 5em;
}

main h1 {
    color: #008484;
    text-align: center;
}

h2, h3 {
    padding-top: 10px;
}

main ul {
    padding-left: 1em;
}
main li {
    list-style-type: disc;
}

footer {
    background-color: #008484;
    color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2em;
    padding: 3em 15vw;
}

footer i {
    font-size: xx-large;
    padding: 5px;
    color: white;
}
footer h3 {
    padding-bottom: 3px;
}

footer input {
    background-color: transparent;
    border: 2px solid #00D1D1;
    border-radius: 6px;
    padding: 8px;
    color: white;
}

footer input::placeholder {
    color: #00D1D1;
}

.email {
    color: white;
}

/*Collapsible*/
.accordion {
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    color: #008484;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\002B';
    font-weight: bold;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }






@media only screen and (max-width: 794px) {
   
    #blockset {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 1em;
        padding: 1em 5vw;
    }

    /*
    .btn2 --> make the "Donate" button in Nav bar responsive
    */

    .calendar_image {
        display: block;
        height: 40em;
        width: 40em;
    }

    .menu_image {
        height: 35em;
        width: 35em;
    }


    /* 
    WHAT's GOING ON
    - Make the table responsive: 
        make the table and column widths fluid, and reformat the table so it fits on smaller screens
        Change the display property of all the th and td elements to block, so each table cell starts on a new line. Then, you can  change formatting of the elements you do. 
    */
}

