* {
    padding: 0;
    margin: 0;
    font-family: 'Muli';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

blockquote, #logo, h1, h2 {
    font-family: 'Lora';
}

header {
    background-color: #008484;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px darkgray;
}

#logo {
    font-size: x-large;
    color: white;
    transition: all .3s;
}

#logo:hover, nav ul li a:hover {
    color: #00D1D1;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 0 1em;
}

nav li a {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.btn {
    background-color: transparent;
    border: 2px solid #00D1D1;
    color: #00D1D1;
    padding: 15px 20px;
    border-radius: 6px;
    transition: all .3s;
}

.btn:hover {
    background-color: #00D1D1;
    color: white;
}

.btn2 {
    background-color: white;
    color: #008484;
    border: 2px solid white;
    padding: 8px 13px;
    border-radius: 6px;
    transition: all .3s;
}

.btn2:hover {
    background-color: #008484;
    color: white;
    border: 0;
    padding: 8px 13px;
    border-radius: 6px;
    border: 2px solid white;
}

#carousel {
    margin: 1em 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#carousel img, #carousel div {
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 1em;
    height: 80vh;
    background: beige;
}
  
#carousel {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    
}

#carousel::-webkit-scrollbar {
    display: none;
}

main {
    min-height: 90vh;
}

blockquote {
    background-color: #00D1D1;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 2em 15vw 4em;
}

#blockset {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   position: relative;
   top: -5em;
   margin: 0 4em;
}

#blockset div {
    min-height: 25vh;
    padding: 15px;
    background-color: white;
    margin: 1em;
    box-shadow: 0px 2px 5px darkgray;
    border-radius: 10px;
    text-align: center;
    transition: all .3s;
}

#blockset div:hover {
    transform: scale(1.03);
}

#blockset a:hover {
    color: #00D1D1;
}

#blockset div h2, #blockset div p {
    padding-bottom: 15px;
}

td:first-child {
    text-align: center;
}

.blue, .email {
    color: #008484;
}

.email:visited {
    color: #008484;
}

.col1 {
    width: 15%;
}


.col2 {
    width: 15%;
}

.col3 {
    width: 60%;
}

#jumbo {
    background-image: url('images/jumbo_bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding: 2em 10vw;

}

.center {
    display: flex;
    justify-content: center;
}

.center a {
    margin: 1em;
}

/*Non-Home Page Styling*/
main a {
    text-decoration: none;
    display: inline-block;
}

/*Non-Home Page Styling*/

.pad {
    padding: 3em 5em;
}

h1 {
    color: #008484;
    text-align: center;
}

h2, h3 {
    padding-top: 10px;
}

p {
    padding: 10px 0 0;
}

main ul {
    padding-left: 2em;
}

#map {
    display: flex;
    justify-content: center;
    margin: 1em;    
}

iframe {
    width: 50vw;
    height: 30vw;
}

footer {
    background-color: #008484;
    color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2em;
    padding: 3em 15vw;
}

footer i {
    font-size: xx-large;
    padding: 5px;
    color: white;
}

footer i:hover, a:hover {
    color: #00D1D1;
}

footer h3 {
    padding-bottom: 3px;
}

footer input {
    background-color: transparent;
    border: 2px solid #00D1D1;
    border-radius: 6px;
    padding: 8px;
    color: white;
}

footer input::placeholder {
    color: #00D1D1;
}

footer .email {
    color: white;
}

footer .email:hover {
    color: #00D1d1;
}

/*Collapsible*/
.accordion {
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
}

.active, .accordion:hover {
    color: #008484;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.calendar {
    width: 40vw;
    margin: 0 auto;
}

@media only screen and (max-width: 794px) {
    header {
        padding: 1em .5em;
    }

    #map iframe{
        width: 90vw;
        height: 100vw;
    }

    #logo {
        text-align: center;
    }

    header li {
        text-align: center;
        font-size: smaller;
    }

    .volunteer {
        display: flex;
        flex-direction: column-reverse;
        padding: 2em;
        text-align: center;
    }

    .volunteer a {
        margin: 1em;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pad {
        padding: 2em;
    }

    #blockset {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }

    footer {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 1em 5vw;
        padding-left: 8vw;
        grid-row-gap: 2em;
    }

    /*
    .btn2 --> make the "Donate" button in Nav bar responsive
    */

    .filler_image {
        display: block;
        height: 20em;
        width: 30em;
        padding: 2%;
    }

    .volunteer_image {
        display: block;
        height: 27em;
        width: 25em;
        padding: 2%;
    }

    .calendar_image {
        display: block;
        width: 80vw;
        margin: 0 auto;
    }

}


@media only screen and (max-width: 426px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div {
        text-align: center;
        padding-bottom: 1em;
    }

}